body {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.help-block ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.help-block li {
    font-weight: bold;
    font-size: 16px;
}

.title {
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.title__line {
    position: relative;
}

.title__line::before {
    /* top: 50%; */
    bottom: 9px;
    left: 0;
    position: absolute;
    content: '';
    display: block;
    height: 3px;
    /* width: 222px; */
    width: 400px;
    background-image: url("../images/left_line_2.png");
    background-size: cover;
}


/* .title__line::after {
    top: 50%;
    right: 0;
    position: absolute;
    content: '';
    display: block;
    height: 3px;
    width: 222px;
    background-image: url("../images/right_line.png");
    background-size: cover;
} */

.subtitle {
    font-size: 24px;
    line-height: 29px;
}

.button {
    display: inline-block;
    background: linear-gradient(100.29deg, #81BD5F 0%, #95DE6B 99.42%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: none;
    font-weight: 600;
    padding: 16px 30px;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0;
}

.button:hover,
.button:active,
.button:focus {
    outline: none;
    border: none;
    background: linear-gradient(100.29deg, #72B74B 0%, #7BE63F 99.42%);
    box-shadow: 0px 0px 10px rgba(123, 227, 64, 0.4);
    text-decoration: none;
    color: #FFFFFF;
}

.input {
    border: none;
    display: block;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    max-width: 450px;
    width: 100%;
    height: 60px;
    font-size: 16px;
    line-height: 22px;
    color: #1E1E1E;
    padding: 20px 35px;
}

.input::placeholder {
    color: #BDBDBD;
}

.input:focus {
    outline-color: #EFF3F1;
}

.input_wrapper {
    margin-bottom: 30px;
}

.textarea {
    min-height: 140px;
}

.bold {
    font-weight: 500;
}

header {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(20px);
}

.header__navbar {
    /* padding: 15px 0; */
    padding: 0;
    max-width: 1560px;
    margin: 0 auto;
    /* position: relative; */
}

.navbar-toggler-icon {
    background-image: url("../images/menu.png");
}

.header__collapse {
    justify-content: space-between;
}

.header__logo_wrapper {
    /* padding: 0;
    position: absolute;
    left: calc(0% - 90px); */
}

.header__link {
    padding: 0 25px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    font-size: 16px;
    line-height: 22px;
    color: #1E1E1E;
}

.header__link:hover,
.header__link:active,
.header__link:focus {
    text-decoration: underline;
    color: #1E1E1E;
    opacity: 0.6;
}

.header__phone_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__phone {
    font-size: 20px;
    line-height: 24px;
    color: #1E1E1E;
    text-decoration: none;
    margin-right: 36px;
}

.header__phone:hover,
.header__phone:active,
.header__phone:focus {
    color: #1E1E1E;
    text-decoration: none;
    opacity: 0.6;
}

.header__callback_button {
    font-size: 20px;
    line-height: 22px;
    padding: 14.5px 30px;
    margin: 0;
}

.link__see_more {
    cursor: pointer;
    color: #1E1E1E;
    opacity: 0.5;
    font-size: 16px;
    line-height: 40px;
    text-decoration-line: underline;
}

.link__see_more:active,
.link__see_more:hover,
.link__see_more:focus {
    opacity: 1;
}

.banner_wrapper {
    background: #C4C4C4 url("../images/main_banner.png") no-repeat;
    background-size: cover;
    background-position: right;
    color: #FFFFFF;
    min-height: calc(100vh - 81px);
    width: 100%;
    display: flex;
    align-items: center;
}

.banner {
    max-width: 1560px;
    margin: 0 auto;
}

.banner__header {
    text-align: left;
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 59px
}

.banner__subheader {
    font-size: 36px;
    line-height: 44px;
}

.banner__text {
    font-size: 24px;
    line-height: 35px;
    margin: 40px 0;
}

.banner__button {
    margin-bottom: 100px;
}

.about_wrapper {
    padding: 150px 0;
    background: #FFFFF2;
    color: #1E1E1E;
}

.about__header {}

.about__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.about__img_wrapper {
    max-width: 310px;
    width: 28%;
}

.about__text_wrapper {
    width: 72%;
    padding: 0 0 0 50px;
}

.about__text {
    font-size: 16px;
    line-height: 30px;
}

.about__subtext__title {
    font-size: 20px;
}

.about__subtext {
    padding: 5px 0;
    display: inline-block;
}

.about__subtext:first-child {
    padding: 0 0 5px 0;
}

.about__subtext:last-child {
    padding: 5px 0 0 0;
}

.themes {
    max-width: 1560px;
    margin: 0 auto;
}

.themes_wrapper {
    padding: 150px 0;
    background: #FFFFFF;
    color: #1E1E1E;
}

.themes__block_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.themes__block {
    min-width: 185px;
    width: 20%;
    text-align: center;
    padding: 0 15px;
}

.themes__block_ {
    flex-direction: column;
    display: flex;
    width: 100%;
}

.themes__block__img_wrapper {
    margin-bottom: 24px;
}

.themes__block__img {
    height: auto;
    max-width: 100%;
}

.themes__block__text {
    font-size: 18px;
    line-height: 22px;
    display: block;
    flex: 1 0 auto;
    max-width: 260px;
    margin: 0 auto;
}

.callback_banner_wrapper {
    background: rgba(255, 255, 255, 0.5) url("../images/callback_banner__bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 0;
}

.callback_banner {
    max-width: 778px;
}

.callback_banner__header {
    text-align: left;
    margin-bottom: 30px;
    max-width: 750px;
}

.callback_banner__subheader {
    display: block;
    margin-bottom: 40px;
    color: #828282;
}

.services_wrapper {
    padding: 140px 0 150px 0;
    background: #FFFFFF;
    color: #1E1E1E;
}

.services__block_wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.services__block {
    height: 276px;
    width: 33%;
    max-width: 350px;
    border-radius: 10px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
}

.services__block:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 330px;
    height: 2px;
    background: #FFD54F;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.services__block:hover:after {
    opacity: 1;
}

.services__block__first {
    background-image: url("../images/services/individual.png");
}

.services__block__second {
    background-image: url("../images/services/online.png");
}

.services__block__third {
    background-image: url("../images/services/group.png");
}

.services__block__text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    width: 100%;
    position: absolute;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.certificates_wrapper {
    padding: 150px 0;
    background: #FFFFF2;
    color: #1E1E1E;
}

.certificates__header {
    margin-bottom: 100px;
}

.certificates__text_wrapper {
    margin-bottom: 50px;
}

.certificates__text {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}

.certificates {}

.certificates__info_wrapper {}

.certificates__image_wrapper {}

.certificate__block {
    max-width: 276px;
    margin: 0 auto;
}

.certificate__block__image {
    max-width: 100%;
    width: auto !important;
    height: auto;
    margin: 0 auto;
}

.reviews_wrapper {
    background-color: #FFFFFF;
    padding: 150px 0 155px;
    color: #1E1E1E;
}

.reviews__block_wrapper {
    padding: 0 60px;
}

.reviews__block {
    /* max-width: 410px; */
    width: 100%;
    background: #FFFFFF;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
    /* padding: 40px 50px 50px; */
    padding: 30px 25px;
    margin: 20px auto;
}

.owl-carousel .active:nth-child(2) .reviews__block {
    max-width: 476px;
}

.reviews__block__header {
    text-align: center;
    /* padding-left: 60px; */
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
    position: relative;
}

.reviews__block__header::before {
    position: absolute;
    left: 0;
    content: '';
    display: block;
    height: 31px;
    width: 43px;
    background-size: contain;
    background-position: center;
    background-image: url("../images/quotes.png");
}

.reviews__block__text {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}

.owl-carousel .owl-nav {}

.owl-carousel .owl-nav button {
    width: 13px;
    height: 27px;
    position: absolute;
    top: 33%;
    opacity: 0.7;
}

.owl-carousel .owl-nav button:focus,
.owl-carousel .owl-nav button:active,
.owl-carousel .owl-nav button:hover {
    border: none;
    outline: none;
}

.owl-carousel .owl-nav button:hover,
.owl-carousel .owl-nav button:focus,
.owl-carousel .owl-nav button:active {
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-prev {
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    left: -60px;
}

.owl-carousel .owl-nav button.owl-next {
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    right: -60px;
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel button.owl-dot {
    margin: 0 4px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: linear-gradient(91.72deg, #62D98A 0%, #3DD4A1 100%);
    opacity: 0.3;
}

.owl-carousel button.owl-dot.active {
    opacity: 0.6;
}

.owl-carousel button.owl-dot:hover,
.owl-carousel button.owl-dot:focus,
.owl-carousel button.owl-dot:active {
    outline: none;
    opacity: 0.6;
}

footer {
    background: rgba(0, 0, 0, 0.7) url("../images/footer__bg.png") no-repeat;
    background-size: cover;
    color: #FFFFFF;
    padding: 150px 0 50px;
}

.footer__header {
    text-align: left;
    margin-bottom: 20px;
}

.footer_block__left {
    max-width: 450px;
}

.footer__form__title {
    display: block;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
}

.footer__info_wrapper {
    padding: 100px 0 0;
}

.footer__info__link {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 70px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: 29px auto;
    background-position: left top;
}

.footer__info__link:active,
.footer__info__link:focus,
.footer__info__link:hover {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer__info__link__viber {
    background-image: url("../images/contacts_icons/viber.png");
}

.footer__info__link__whatsapp {
    background-image: url("../images/contacts_icons/whatsapp.png");
}

.footer__info__link__email {
    background-image: url("../images/contacts_icons/mail.png");
}

.footer__info__link__address {
    background-image: url("../images/contacts_icons/map.png");
}

.footer__social__delimiter {
    display: inline-block;
    width: 145px;
    height: 1px;
    margin: 30px 0 20px 55px;
    background: linear-gradient(105.42deg, #81BD5F 0%, #95DE6B 99.42%);
    opacity: 0.7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.footer__social__list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__social__link_wrapper {
    margin: 0 15px 0 0;
}

.footer__social__link_wrapper:last-child {
    margin: 0;
}

.footer__social__link {}

.copyright_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0;
}

.copyright {
    display: block;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 0;
}

footer {
    position: relative;
}

.up_button {
    width: 80px;
    height: 80px;
    background-image: url("../images/up.png");
    background-size: contain;
    right: 95px;
    bottom: 95px;
    position: fixed;
    z-index: 101;
    cursor: pointer;
    opacity: 0.7;
    display: none;
}

.up_button:hover,
.up_button:focus,
.up_button:active {
    opacity: 1;
}


/* modal */

.modal {
    top: 20%;
}

.modal-dialog {
    max-width: 440px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}

.modal-content {
    border: none;
    align-items: flex-end;
}

.modal__close {
    background-image: url("../images/close.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
}

.modal-header {
    border: none;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.modal-body {
    width: 100%;
}

.modal__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.modal__form {
    text-align: center;
}

.modal__form .help-block {
    text-align: left;
}

.modal__form__input {
    font-size: 18px;
    line-height: 24px;
    height: 55px;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modal__form__button {
    height: 55px;
    font-size: 18px;
    line-height: 24px;
}

@media(max-width: 1300px) {
    .title__line::before {
        width: 200px;
    }
    .certificates__header {
        margin-bottom: 50px;
    }
}

@media(max-width: 1199px) {
    .header__phone {
        font-size: 16px;
    }
    .about_wrapper,
    .themes_wrapper,
    .callback_banner_wrapper,
    .services_wrapper,
    .certificates_wrapper,
    .reviews_wrapper {
        padding: 75px 0;
    }
    .title {
        margin-bottom: 50px;
        font-size: 32px;
        line-height: 38px;
    }
    .banner {
        max-width: 998px;
    }
    .banner__header {
        font-size: 48px;
        line-height: 59px;
    }
    .header__callback_button {
        font-size: 18px;
        line-height: 20px;
    }
    .button {
        font-size: 18px;
        line-height: 20px;
    }
    .about__subtext__title {
        font-size: 18px;
    }
    .about__text {
        line-height: 22px;
    }
    .themes__block__text {
        font-size: 16px;
        line-height: 20px;
    }
    .subtitle {
        font-size: 20px;
        line-height: 24px;
    }
    .services__block__text {
        font-size: 16px;
        line-height: 20px;
        padding: 20px 5px;
    }
    .services__block {
        width: 30%;
    }
    .certificates__text {
        font-size: 16px;
        line-height: 20px;
    }
    .reviews__block__header {
        font-size: 24px;
        line-height: 26px;
    }
    .reviews__block__text {
        font-size: 16px;
        line-height: 22px;
    }
    .footer__form__title {
        font-size: 20px;
        line-height: 24px;
    }
    .footer__info__link {
        font-size: 22px;
        line-height: 26px;
        background-size: 26px auto;
    }
    .copyright {
        font-size: 20px;
        line-height: 24px;
    }
    .header__link {
        padding: 0 15px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .title__line::before {
        width: 0;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: -30px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: -30px;
    }
}

@media (max-width: 992px) {
    .themes__block {
        width: 100%;
        margin-bottom: 30px;
    }
    .themes__block__img_wrapper {
        margin-bottom: 10px;
    }
    .themes__block__text {
        font-size: 14px;
        line-height: 17px;
        max-width: 130px;
    }
    .banner {
        max-width: 100%;
    }
    .banner__header,
    .banner__subheader,
    .banner__text,
    .banner__button_wrapper {
        text-align: center;
    }
    .banner__subheader {
        display: block;
    }
    .banner_wrapper {
        min-height: auto;
        padding: 100px 0 110px;
    }
    .header__phone_wrapper {
        flex-wrap: wrap;
    }
    .header__phone {
        margin-right: 0;
        padding: 15px 0;
        width: 100%;
    }
    .header__link {
        padding: 15px 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-bottom: 1px solid #F2F2F2;
    }
    .header__callback_button {
        margin: 15px 0 25px 0;
    }
    .header__social__list {
        justify-content: center;
    }
    .banner__button {
        margin-bottom: 50px;
    }
    .about__info {
        flex-wrap: wrap;
    }
    .about__img_wrapper {
        width: 100%;
        margin: 0 auto 40px auto;
    }
    .about__text_wrapper {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .callback_banner__header {
        text-align: center;
        max-width: 100%;
    }
    .callback_banner__subheader {
        margin-bottom: 20px;
        text-align: center;
    }
    .callback_banner__form_wrapper {
        text-align: center;
    }
    .callback_banner__form input {
        margin: 0 auto 20px;
    }
    .services__block {
        width: 100%;
        margin: 0 auto 30px auto;
    }
}

@media (max-width: 768px) {
    .input {
        margin: 0 auto;
    }
    .up_button {
        display: none;
    }
    .footer_block__left {
        max-width: 100%;
        margin: 0 0 40px;
        text-align: center;
    }
    .footer__header {
        text-align: center;
    }
    .footer__info_wrapper {
        padding: 0;
        max-width: 312px;
        margin: 0 auto;
    }
    .footer__info__link {
        padding-left: 40px;
    }
    .footer__social__delimiter {
        display: none;
    }
    .footer__social__list {
        justify-content: center;
    }
    .copyright_wrapper {
        padding: 40px 0 0;
    }
}

@media (max-width: 576px) {
    .about_wrapper,
    .themes_wrapper,
    .callback_banner_wrapper,
    .services_wrapper,
    .certificates_wrapper,
    .reviews_wrapper {
        padding: 40px 0;
    }
    .title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 40px;
    }
    .subtitle {
        font-size: 16px;
        line-height: 20px;
    }
    .banner__header {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 5px;
    }
    .banner__subheader {
        font-size: 18px;
        line-height: 22px;
    }
    .banner__text {
        font-size: 14px;
        line-height: 17px;
        margin: 15px 0 40px 0;
    }
    .button {
        font-size: 16px;
    }
    .input {
        border-radius: 10px;
        height: 40px;
        font-size: 14px;
        line-height: 16px;
        padding: 10px 20px;
    }
    .about__text {
        line-height: 20px;
        font-size: 14px;
    }
    .themes__block__img {
        max-width: 58px;
    }
    .themes__header {
        max-width: 195px;
        margin: 0 auto 40px auto;
    }
    .callback_banner__header {
        margin-bottom: 20px;
    }
    .input_wrapper {
        margin-bottom: 20px;
    }
    .owl-carousel .owl-nav {
        display: none;
    }
    .reviews__block_wrapper {
        padding: 0 20px;
    }
    .reviews__block__header {
        font-size: 18px;
        line-height: 22px;
    }
    .reviews__block__text {
        font-size: 14px;
        line-height: 18px;
    }
    .reviews__block {
        padding: 0;
        margin: 0 auto;
    }
    footer {
        padding: 40px 20px;
    }
    .footer__info_wrapper {
        max-width: 225px;
    }
    .footer__form__title {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 20px;
    }
    .footer__info__link {
        font-size: 14px;
        line-height: 20px;
        background-size: 20px auto;
        font-weight: 400;
    }
    .copyright {
        font-size: 12px;
        line-height: 24px;
    }
}